/* Allgemeine Einstellungen*/
  body {
    /*background: linear-gradient(120deg, #230342, rgba(0, 28, 133, 1), #95063d, #e8a909);*/
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex
  }

  /* Sidebar */
  .sidebar {
    height: 100vh; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* The sidebar menu */
.sidebar {
  height: auto; /*Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border: 1px solid #000;
  margin: 20% 16%;
}

.pagetitle {
  text-transform: lowercase;
  margin: 0 10% 80% 10%;
  font-size: 19pt;
  text-align: left;
}

.sidelinks a {
  display: block;
  clear: both;
  padding: 10%;
  border-top: 1px solid #000;
}

/* Hauptinhalt */
.main-content {
  margin: 0;
  flex-grow: 1;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20% 20% 20% 30%;
}

/* Tabs */
.tabs{
  display: flex; 
  justify-content: center;
  gap: 0px;
  margin-bottom: -1px;
}
.tablink {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  cursor: pointer;
}

.tablink:hover {
  background-color: #ddd;
}

/* Tab Inhalte */
.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #000;
}

/* Responsive Anpassungen */
@media screen and (max-width: 800px) {
  .sidebar {
      width: 180px;
  }
  .main-content {
      margin-left: 180px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
      position: absolute;
      width: 100%;
      height: auto;
  }
  .main-content {
      margin-left: 0;
      margin-top: 120px; /* Platz für Sidebar */
  }
}