/* Allgemeine Einstellungen*/
  body {
    /*background: linear-gradient(120deg, #230342, rgba(0, 28, 133, 1), #95063d, #e8a909);*/
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex
  }

  .window {
    position: relative;
    width: 70vh;
    height: 70vh;
    margin: 10vh auto;
    display: flex;
    border: 1px solid #000;

  }


  /* The sidebar menu */
.sidebar {
  height: 100%; /*Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  border-right: 1px solid #000;
}

.pagetitle {
  text-transform: lowercase;
  padding: 20px;
  font-size: 19pt;
  text-align: left;
}

.sidelinks {
  margin-bottom: 0;
  margin-top: 46vh;
}
.sidelinks a {
  display: block;
  clear: both;
  padding: 10%;
  border-top: 1px solid #000;
}

/* Hauptinhalt */
.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

/* Tabs */
.tabs{
  display: flex; 
  justify-content: left;
  gap: 0px;
  margin-bottom: -1px;
  border-bottom: 1px solid #000;

}
.tablink {
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-right: 1px solid #000;
}

.tablink a:active {
  border-bottom: 3px solid #620303;
  background-color: #ddd;
}

.tablink:hover {
  background-color: #ddd;
}

/* Tab Inhalte */
.tabcontent {
  display: none;
  padding: 40px;
}

/* Responsive Anpassungen */
@media screen and (max-width: 800px) {
  .sidebar {
      width: 180px;
  }
  .main-content {
      margin-left: 180px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
      position: absolute;
      width: 100%;
      height: auto;
  }
  .main-content {
      margin-left: 0;
      margin-top: 120px; /* Platz für Sidebar */
  }
}